{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Get File</h1>
<p class="lead">Click the Download button on the Navbar to begin.</p>
<h3>Latency</h3>
<p class="lead">Sources of latency for Get File include One way that can make latency worse is having timestamp calculated in the application itself rather than by the DB server. Calculating the timestamp in the application can lead to problems because network latency is variable, clients experience slightly different clock drift, and different programming languages may calculate time slightly differently. Also, another source that can make this application </p>
{% endblock %}