{% extends 'base.html' %} {% block main %}
<div class="container">
  <h1 class="page-header">Report</h1>

  <p><i>Please refresh the page if you don't see the lastest download record.</i></p>
  <table>
    <tr>
      <th class = "clientip"> Client IP </th>
      <th class = "timestamp"> Timestamp </th>
      <th class = "delay"> Delay(s) </th>
    </tr>

    {% for record in records %}
    <tr>
      <td class = "clientip">{{ record.client_ip }}</td>
      <td class = "timestamp">{{ record.timestamp }}</td>
      <td class = "delay">{{ record.delay }}</td>
    </tr>
    {% endfor %}

  </table>
</div>
{% endblock %}